<!doctype html>
<html>
    <head>
        <title>Form</title>
        <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <h1>Formulaire</h1>

        <a href="{{ url_for('home') }}">Accueil</a>
        <a href="{{ url_for('page') }}">Page</a>

        <form action="{{ url_for('page') }}" method="POST">
            <label for="name">Prénom:</label>
            <input type="text" name="name">

            <label for="lastname">Nom:</label>
            <input type="text" name="lastname">
            
            <label for="pseudo">Pseudo:</label>
            <input type="text" name="pseudo">

            <label for="sex">sexe:</label>
            <select name="sex">
                <option value="Mr">Homme</option>
                <option value="Mme">Femme</option>
              </select>
            <button type="submit">OK</button>
        </form>
    </body>
</html>